ion-modal-view {
    /*/background-color: #f3f3f3;*/
}
.bg-row{

}
.modal{
    background: #f3f3f3;
}
.list{
    padding-top:0;
    padding-bottom:0;

}
.item .badge{
    font-weight: normal;

}

.car-style{
    /*margin:5px;*/
    /*border: 1px solid #aaa;*/
    background-color:#fff;
}